@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


:root {
    --main: #0be193;
    --second-color: rgb(62, 62, 168);
    --black: #111;
    --white: #fff;
    --light-color: #666;
    --light-white: #fff9;
    --dark-bg: rgba(0, 0, 0, .7);
    --light-bg: #eee;
    --border: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, .3);
}


.box{
    cursor: pointer;
}


*{
    font-family: 'Poppins', sans-serif;
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none; transition: all .2s linear;
}

html{
    font-size:62.5%;
  /*  overflow: hidden;*/
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

}
html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--main);
}

section{
    padding: 5rem 10% ;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--black);
    color: var(--white);
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: capitalize;
   
}
.btn:hover{
    background: var(--main);
    color: var(--white);
}




.header{
    position: sticky;
    top: 0; right: 0; left: 0;
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    background: var(--black);
}

.header .logo{
    font-size: 2.5rem;
    color: var(--white);
    text-transform: capitalize;
}
.header .logo span{
    color: var(--main);
}

.navbar a{
    font-size: 2rem;
    margin: 0 1rem;
    color: var(--light-color);
}
.navbar a:hover{
    color: var(--main);
}
.navbar2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background:var(--second-color);
    padding: 10px;
}
.navbar2 a{
    font-size: 2rem;
    margin: 0 1rem;
    color: var(--white);
}
.sub-header{
    background: #666;
   margin: 10px 0;
   display: flex;
   align-items: center;
   justify-content: center;
}

.login-user{
    padding: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}

.login-user .user-admin{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 0 10px;
    background: var(--main); 
    width: 40rem;
    height: 25rem;
}
.login-user .user-admin i{
    color: var(--white);
    font-size: 15rem;
    text-align: center;
    display: block;
    align-items: center;
}
.login-user .user-admin .btn{
    display: inline-block;
    background: var(--black);
    color: var(--white);
    cursor: pointer;
    font-size: 3rem;
    text-transform: capitalize;
    text-align: center;
}
.login-user .user-admin .btn:hover{
    background: linear-gradient(90deg,
     rgba(196,186,186,0.9430365896358543) 
     22%, rgba(25,224,130,0.713344712885154) 42%,
      rgba(190,184,176,0.8618040966386554) 71%);
}









.quick .logo{
    color: white;
    font-size: 2rem;
}

 .navbar2 a{
    font-size: 2rem;
    margin: 0 1rem;
    color: var(--white);
    
}
 .navbar2 a:hover{
    color: var(--main);
}

.quick .logo i{
    color:var(--main);
    font-size: 3rem;
}
.quick .logo i span{
    color: white;
    font-weight: 200;
}
.quick .logo i span b{
    color: var(--main);
}

.share-2 a{
    line-height: 5rem;
    font-size: 3rem;
    color: var(--white);
    cursor: pointer;
    text-align: center;
    margin: 0 .3rem;
    padding: 0 10px;
}
.share-2 a:hover{
    color: var(--main);
}

.credit{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 2rem;
    background:var(--light-color);
}

.credit p{
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
}
.credit p span {
    color: var(--main);

}











































@media (max-width:1200px){
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 3rem 5% ;
    }
}
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    section{
        padding: 3rem 2rem;
    }
    .header #menu-btn{
        
            display: inline-block;
        }

        .navbar{
            position: absolute;
            top: 99%; left: 0; right: 0;
            background: var(--white);border-top: var(--border);
            border-bottom: var(--border);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

            
        }
        .navbar.active{
            clip-path: polygon(0 0, 100% 0 , 100% 0, 0 0);
        }
        .navbar a{
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 2rem;
            color: var(--white);
            background: var(--black);
            width: 20%;
            border-radius: .9rem;
            text-align: center;
        }

        
    }
    @media (max-width:768px){
        .header .search-form{
            width: 90%;
        }
        .header .login-form{
            width: 90%;

        }
        .home .slide{
            justify-content: center;
        }
        .home .slide .content{
            text-align: center;
        }
        .home .slide h3{
            font-size: 3rem;
        }
        .pub{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .pub .h3{
            font-size: 2rem;

        }
        .quick{
            flex-flow: column;
            text-align: center;

        }
        .navbar2{
            padding: 2rem 0;
        }
        .navbar2 a{
            display: block;
            font-size: 2rem;
            padding: 1rem 0;
        }
        .share-2 a{
            margin: 0 1rem;

        }
        .credit{
            flex-flow: column;
        }
        .arrivals .box-container .box{
            flex-flow: column;
            text-align: center;
            gap: 2rem;
        }
        .content form .inputBox input{
            width: 100%;
        }
    }

@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .newletter{
        text-align: center;

    }
    .newletter .content{
        font-size: 4rem;
    }
    .newletter .content p{
        font-size: 1.7rem;
    }
}


@media (max-width:352px){
    html{
        font-size: 40%;
    }
    .header .search-form{
        width: 90%;
    }
    .header .login-form{
        width: 90%;

    }
    .home .slide{
        justify-content: center;
    }
    .home .slide .content{
        text-align: center;
    }
    .home .slide h3{
        font-size: 3rem;
    }
    .quick{
        flex-flow: column;
        text-align: center;

    }
    .navbar2{
        padding: 2rem 0;
    }
    .navbar2 a{
        display: block;
        font-size: 2rem;
        padding: 1rem 0;
    }
    .share-2 a{
        margin: 0 1rem;

    }
    .credit{
        flex-flow: column;
    }
    .arrivals .box-container .box{
        flex-flow: column;
        text-align: center;
        gap: 2rem;
    }
    .content form .inputBox input{
        width: 100%;
    }
    @media (max-width:242px){
        html{
            font-size: 25%;
        }
        .header{
            padding: 1rem 1.5rem;
        }
        .navbar{
            position: absolute;
            top: 99%; left: 0; right: 0;
            background: var(--white);border-top: var(--border);
            border-bottom: var(--border);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    
            
        }
        .navbar.active{
            clip-path: polygon(0 0, 100% 0 , 100% 0, 0 0);
        }
        .navbar a{
            display: block;
            margin: 1rem;
        }
    }
    
}
