@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');












:root{
--ruler : 16px;
--color-red: #AE1100;
--color-bg: #EBECF0;
--color-shadow: #BABECC;
--color-white: #FFF;
}



body, html {
  background-color:var(--color-bg);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body, p, input, select, textarea, button {
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.2px;
    font-size: var(--ruler);
}

div, p {
  color: var(--color-shadow);
  text-shadow: 1px 1px 1px var(--color-white);
}


form {
  padding: var(--ruler);
  width:30rem;
  height: 30rem;
  margin: 0 auto;
}
h1{
    font-size: 5rem;
}
.segment {
  padding: var(--ruler)*2 0;
  text-align: center;
}
.segment a{
    text-decoration: none;
}

button, input {
  border: 0;
  outline: 0;
  font-size: var(--ruler);
  border-radius: var(--ruler)*20;
  padding: var(--ruler);
  background-color:var(--ruler);
  text-shadow: 1px 1px 0 var(--color-white);
}

label {
  display: block;
  margin-bottom: var(--ruler)*1.5;
  width: 100%;
}

 input{
  margin-right: var(--ruler)/2;
  box-shadow:  inset 2px 2px 5px var(--color-shadow), inset -5px -5px 10px var(--color-white);
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;

}
input:focus {
    box-shadow:  inset 1px 1px 2px var(--color-shadow), inset -1px -1px 2px var(--color-white);
  }
button {
  color:#61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px var(--color-white),  5px 5px 20px var(--color-shadow);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}
  button:hover {
    box-shadow: -2px -2px 5px var(--color-white), 2px 2px 5px var(--color-shadow);
  }
  
  button:hover:active {
    box-shadow: inset 1px 1px 2px var(--color-shadow), inset -1px -1px 2px var(--color-white);
  }
  
  .icon {
    margin-right: var(--ruler)/2;
  }
  
  .unit {
    border-radius: var(--ruler)/2;
    line-height: 0;
    width: var(--ruler)*3;
    height: var(--ruler)*3;
    display:inline-flex;
    justify-content: center;
    align-items:center;
    margin: 0 var(--ruler)/2;
    font-size: var(--ruler)*1.2;
    
  }
.unit.icon {
      margin-right: 0; 
    }
  
.red {
    display: block;
    width: 100%;
    color:var(--color-red);
  }


.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  
}
label {
    margin: 0;
    flex: 1;
  }


  @media (max-width:650px){
    form{
       display: block;
       align-items: center;
        width: 20rem;
    }
    h1{
        font-size: 3rem;
    }

    @media (max-width:380px){
        form{
             width:15rem;
        }
       
    }
  }